body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: black;
  margin: 0;
  padding: 0;
}

button, img {
  font-weight: bold;
  color: white;
  background-color: rgba(60, 60, 60, .4);
  margin: 2px;
  border: none;
  border-radius: 3px;
  font-size: 150%;
}

.zoom {
  position: absolute;
  top: 40%;
  left: 30px;
  width: 70px;
}

.btn-circle, img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.legend {
  position: absolute;
  font-size: 60%;
  right: 30px;
  top: 30px;
}

.legend button {
  width: 110px;
  padding: 10px;
}

.system {
  position: fixed;
  z-index: -1;
}

.skip {
  /*position: absolute;
  left: 0;
  right: 0;*/
  margin-inline: auto;
  width: fit-content;
  bottom: 30px;
}

.skip button {
  font-size: 120%;
  padding: 20px;
}

#calendar {
  position: absolute;
  user-select: none;
  width: 250px;
  height: 100px;
  left: 0;
  right: 0;
  bottom: 10px;
  margin-inline: auto;
  padding: 0;
}

#calendar p {
  z-index: -1000;
  user-select: none;
  position: absolute;
  font-size: 48px;
  margin: 0;
  padding-top: 24px;
  color: #FFF;
}

#calendar div {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: rgba(60, 60, 60, .3);
}

.day {
  width: 60px;
  height: 49%;
}

.month {
  width: 60px;
  height: 49%;
}

.year {
  width: 120px;
  height: 49%;
}

.modal {
  display: none;
  color: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 20%;
  margin-inline: auto;
  width: fit-content;
}

.modal table {
  line-height: 2;
  width: 50vw;
  min-width: 400px;
  max-width: 600px;
}

.modal tr:nth-child(odd) {
  background-color: rgba(56, 56, 56, 0.546);
}

.modal tr:nth-child(even) {
  background-color: rgba(43, 43, 43, 0.546);
}

@media only screen and (max-width: 600px) {
  .zoom {
    left: 0;
  }

  .legend {
    position: absolute;
    font-size: 60%;
    right: 0;
    top: 0;
  }

  .legend button {
    width: 110px;
    padding: 10px;
  }

  .skip {
    bottom: 0;
    width: 100%;
    margin: 0 auto;
  }

  .skip button {
    width: 15%;
    font-size: 120%;
    margin: 0;
    padding: 20px 0 20px 0
  }

}