body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
  }

  #legend {
    position: absolute;
    left: 0;
    bottom: 0;
  }
  
  button {
    font-weight: bold;
    color: white;
    font-size: 100%;
    background-color: rgba(40,40,40);
    margin: 2px;
    border: none;
    padding: 15px 15px;
  }

  #buttonBlock {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    bottom: 0;
  }

  #buttonBlock > div > button:nth-child(2){
    margin-right: 40px;
  }
  .zoomcontrols {
    display: inline-block;
    margin-right: 50px;
  }

  .system {
    position: fixed;
    z-index: -1;
  }