body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    margin: 0;
    padding: 0;
  }

  .heading {
    position: absolute;
    text-align: left;
  }

  p {
    font-size: 22px;
  }

  #legend {
    position: absolute;
    left: 0;
    bottom: 0;
  }

  #legend button {
    padding: 10px;
    color: white;
    font-size: 80%;
    background-color: rgba(40,40,40);
    border-radius: 1px;
  }

  h1,
  p {
    color: #FFF;
    padding-left: 10px;
  }

  button {
    font-weight: bold;
    font-size: 100%;
    background-color: #CCC;
    margin-bottom: 1em;
    border-radius: 10px;
    padding: 15px 15px;
  }

  button:nth-child(7) {
    margin-right: 20px;
  }

  #buttonBlock {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    bottom: 0;
  }

  .speedcontrols,
  .zoomcontrols {
    display: inline-block;
  }

  .system {
    position: fixed;
    z-index: -1;
  }