@font-face {
    font-family: montserrat;
    src: url(Montserrat-VariableFont_wght.ttf);
}


* {
    box-sizing: border-box;
    /*font-family:Verdana,Tahoma,sans-serif;*/
    margin: 0;
    padding: 0;
    /*color: #ffe9b1;*/
    color: hsl(0, 0%, 100%);
    font-size: 16px;
    font-family: montserrat, sans-serif;

}

main {
    width: 90%;
    margin: 0 auto;
}

ul {
    list-style: none;
}

li {
    position: relative;
    padding-bottom: 1em;
}

body {
    background-color: hsla(110, 0%, 5%, 1);
}

h1,
h2,
h3 {
    text-align: center;
    padding-top: 1em;
}

h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    }

h1 {
    font-size: 1.8em;
}

h2 {
    font-size: 1.5em;
}

h3 {
    padding: 10px;
    border-radius: 10px;
    font-size: 1em;
    z-index: 10;
    background-color:rgba(0,0,0,.7);
}

footer {
    color: hsl(0, 0%, 100%);
    margin-top: 2em;
    text-align: center;
}

h2:target {
    background-color: hsla(0, 0%, 20%, 1);
    ;
}

.share {
    cursor: pointer;
}


@media (max-width: 760px) {
    .gridcontainer figcaption {
        padding: .3em;
    }

    h2 {
        font-size: 1.7em;
    }

    h3 {
        padding-top: 0;
    }

    li {}

    .gridcontainer a {
        margin: .3em;
    }
}