.icon-top, .icon-home {
    width: 45px;
    position: fixed;
    padding: 0;
}

.icon-top {
    bottom: 100px;
    right: 100px;
}

.icon-home {
    right: 100px;
    top: 100px;
}

@media (max-width: 1200px) {
    .icon-top {
        bottom: 1em;
        right: 1em;
    }
    .icon-home {
        right: 1em;
        top: 1em;
    }
}

@media (max-width: 600px) {
    .icon-top {
        bottom: 0;
        right: 0;
    }
    .icon-home {
        right: 0;
        top: 0;
    }
}